
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body{
    background-color: #FAACA8; 
    background-image: linear-gradient(to right, #a1c4fd  , #c2e9fb ); 
    background-image: linear-gradient(to right, #a1c4fd  , #c2e9fb ); 
}

h1{
    text-align: center;
    margin: 40px 0;
    font-family:cursive;
}

#container{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;

}

.card2{
    margin: 85px 0;

}

@media only screen and (min-width: 850px) {
    #container{
        display: flex;
        flex-direction:row;
        align-items: center;
        /* margin-top: 16%; */
    }

}


.shadow{
    -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
	box-shadow: 0 1px 1px rgba(72,78,85,.6);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.shadow:hover
{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
 
}

h1, h2{
    text-decoration: underline;
    padding: 10px 0;
}

img{
    width: 250px;
    height: 300px;
    filter: blur(2px);
    width: 100%;
 
}

img:hover{
    filter: blur(0);
}

.cards{
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    perspective: 1000px;
}


  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .front, .back {
    padding: 10px 5px;
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    height: fit-content;
    background-color: #bbb;
    color: black;
  }

  .back {
    color: black;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 20px 5px;
    text-align: center;
    background-image: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );  

  }

  .flipped1{
    transform: rotateY(180deg);

  }

  .flipped2{
    transform: rotateY(180deg);

  }


  .flipped3{
    transform: rotateY(180deg);

  }